.rotated-list {
  position: absolute;
  color: black;
  top: 0;
  /* left: 100%; */
  /* adjust as per your requirement */
  transform: translateY(-50%) rotate(-90deg);
  /* transform-origin: left top; */
}

.rotated-list ul {
  list-style: none;
  padding: 0;
}

.rotated-list li {
  transform: translateX(100%);
  white-space: nowrap;
  writing-mode: vertical-rl;
  text-orientation: upright;
}